* {
  box-sizing: border-box;
  outline: 2px solid rgba(200,0,0,.1);
}

body{
  margin: 0;
}

img{
  display: block;
  width: 100%;
}

/* Putting a flexbox container <section class="img-group-flex-container"> */

.img-group-flex-container{
  max-width: 700px;
  margin: 0 auto;
  border: 2px solid green;

  display: flex; /* creates a flexbox container */
  flex-wrap: wrap; /* Allows items to go to next line*/
  justify-content: space-between; /*  */
}

.img-container{
  width: 16.66%;
  padding: 10px;
}
